html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
  width: inherit;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'Merriweather', serif; */

body {
  margin: 1.5rem;
  padding: 1.5rem;
}

.banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8rem;
}

.banner img {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.banner figcaption {
  color: #fff;
  display: grid;
  grid-column: 1;
  grid-row: 2;
  z-index: 1;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1rem;
  padding: 1rem;
  grid-gap: .75rem;
}
